@model myWeb.Models.Cart
<h1>Product Details</h1>

<form method="post">
    <div class="row">
        <div class="col-4">
            <img src="@Model.product.ImageUrl" width="200" height="200" />
            <input type="hidden" asp-for="productId" />
        </div>
        <div class="col-8">
            <div class="row">
                <h3>Product Details</h3>
                <label asp-for="product.Name">Product Name: @Model.product.Name</label>
                <label asp-for="product.Description">Product Description:  @Model.product.Description</label>
                <label asp-for="product.Price">Product Price:  @Model.product.Price.ToString("0.00")</label>
                <label asp-for="product.Category.Id">Product Category:  @Model.product.Category.Name</label>

                <div class="form-control">
                  
                        <label class="mb-0" asp-for="count"></label>
                        <input asp-for="count" class="form-control w-50" />
                        <span asp-validation-for="count" class="text-danger"></span>
                   
                </div>

                <div class="form-control">
                    <button class="btn btn-success" asp-action="Index" asp-controller="Home">Back To List</button>
                    <button class="btn btn-dark" type="submit" >Add To Cart</button>

                </div>
            </div>
        </div>
    </div>
</form>